/****************************************

		基本

*****************************************/

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

section , article , footer , aside { display:block; }

* {
    margin:0;
	padding:0;
	border:none;
	list-style:none;
	text-decoration:none;
}

html {
    font-size: 16px;
    font-family: 'Noto Sans JP',"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif,"verdana";
    line-height: 1.7;
    letter-spacing:0.05em;
    color: #333;
}

body {
	background:#F8FAFD;
}

main {
    width: auto;
    margin: 15px auto 50px auto;
}

a {
    color: #19448e;
    text-decoration: none;
}

.pc {
    display: block;
}
.sp {
    display: none;
}

.aright {
    text-align: right;
}
.aleft {
    text-align: left !important;
}
.acenter {
    text-align:center;
}


/****************************************

		ヘッダー

*****************************************/

header {
    padding: 50px 0 40px 0;
    text-align: center;
}

header a.logo img {
    height: 60px;
}

header a.logo span {
    display: block;
    margin: -3px 0 0 0;
    font-size: 0.5rem;
    color: #ccc;
}

nav {
    margin: 0 0 50px 0;
    text-align: center;
}

nav a {
    display: inline-block;
    width: 160px;
    border-radius: 2px;
    line-height: 24px;
    font-size: 0.8rem;
    font-weight: 400;;
    color: #fff;
}

nav a:nth-child(1) {
    background: #FFC410;
}
nav a:nth-child(2) {
    background: #45B2C9;
}
nav a:nth-child(3) {
    background: #82027D;
}

/****************************************

		メイン

*****************************************/

main {
    text-align: center;
}

section {
    margin: 0 0 50px 0;
}

h1 {
    margin: 0 0 35px 0;
    font-size: 1rem;
    font-weight: bold;
}
h1 span {
    display: block;
    margin: 8px 0 0 0;
    font-size: 0.7rem;
    font-weight: normal;
    color: #BBB;
}

.masonry {
    margin: 0 auto;
}

.item {
    width: 220px;
    margin: 0 0 20px 0;
}

.item img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

p {
    margin: 0 0 20px 0;
}

/****************************************

		フッター

*****************************************/

footer {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 0.83rem;
}

#totop {
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 20px;
}

#totop a {
    position: relative;
    top: 0;
    display: block;
    width: 32px;
    line-height: 32px;
    margin: auto;
    background: #FFC410;
    transition: 0.2s;
    color: #fff;
}
#totop a:hover {
    top: -5px;
}


/* アニメーション設定 */
.scr-target {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
}
.scr-target.is-active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
    transition: 1.5s;
}


/****************************************

		レスポンシブ

*****************************************/

@media (max-width: 1024px) {


}
